.justify-grid-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.justify-grid-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.justify-grid-item {
  height: 100%;
}

.grid-css-container {
  overflow: hidden;
}

.grid-css-col {
  width: 100%;
  display: inline-block;
}
