.bii-footer,
.bii-logo {
  display: none;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
.my-banner {
  /* background-image: url("https://cdn.biihappy.com/ziiweb/website/6566150839522b8984075372/templates/6174ee5134c46827c45a50e5/b47ed1f74b4ec8044bda41dee48cadac.jpg"); */
}
.loader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.my-hero {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 8px;
  font-weight: 600;
  background-color: black;
  color: white;
}
.footer .fa-heart {
  color: #df4758;
}

.beatingHeart {
  width: 50px;
  margin: 50px auto;
  height: 50px;
}

.beatingHeart .heart {
  position: absolute;
  width: 50px;
  height: 45px;
  opacity: 0.6;
  -webkit-animation: beat 3s infinite ease-in-out;
}
.heart:before,
.heart:after {
  position: absolute;
  content: "";
  left: 25px;
  top: 0;
  width: 25px;
  height: 40px;
  background: #ff69b4;
  -moz-border-radius: 50px 50px 0 0;
  border-radius: 50px 50px 0 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.fushiaHeart:before,
.fushiaHeart:after {
  background: #ff1d8e;
}
.pinkHeart:before,
.pinkHeart:after {
  background: #ff0080;
}

.heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.beatingHeart .heart2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.beatingHeart .heart3 {
  -webkit-animation-delay: -1.5s;
  animation-delay: -1.5s;
}

.beatingHeart .heart4 {
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.beatingHeart .heart5 {
  -webkit-animation-delay: -2.5s;
  animation-delay: -2.5s;
}

@-webkit-keyframes beat {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

/*spinner */

.spinner {
  margin: 50px auto 0;
  width: 100%;
  text-align: center;
}

.spinner .heart {
  width: 50px;
  height: 45px;
  display: inline-block;
  opacity: 0.8;

  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.heart:before,
.heart:after {
  background: #ff1d8e;
}
.spinner .heart1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .heart2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
